<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/layout.css">
	<title>es6</title>
</head>

<body>
	<h1>the ES6 Lottery Ticket!</h1>
	<ul id="menu"></ul>
	<ul>
		<li>text1</li>
		<li>text2</li>
		<li>text3</li>
	</ul>
	<p id="number"></p>
	<button id="begin">start</button>
	<script src="/js/index.js" charset="utf-8"></script>
</body>

</html>