<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/layout.css">
	<title>es6</title>
</head>
<body>
	<h1>the ES6 Lottery Ticket!</h1>
	<ul id="menu"></ul>
	<script src="/js/index.js" charset="utf-8"></script>
</body>
</html>